./isolate-template-package-v1.0
./projects
./old portfolio
2097698-1606898493886_isolate-template-package-v1.0.zip
images/banners/node_cert.pdf
images/selfie_cr.jpg
screenshots/Resume_Kim_Sherrell_02-2021.docx
screenshots/resume.pdf
